<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494184473926-ic2cmu3s11qg52550n7fc29ocdm00c05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494184473926-ic2cmu3s11qg52550n7fc29ocdm00c05</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>494184473926-kkpgmrjg4ni6da2b7dmif5f2ago07cs5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkGX6X6CV7KCJ1nB40S7qO5WiphwgrPDM</string>
	<key>GCM_SENDER_ID</key>
	<string>494184473926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avangelista.lamanochat</string>
	<key>PROJECT_ID</key>
	<string>lamano-e4b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>lamano-e4b6c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494184473926:ios:c039984438b6a357bd7147</string>
</dict>
</plist>